@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

body {
  font-family: "Inter", sans-serif;
}

body {
  background: rgb(0, 0, 0);
}

#header {
  background: rgb(31, 31, 31);
  backdrop-filter: blur(27.5px);
}
#header .header {
  width: 1440px;
  height: 80px;
  display: flex;
  justify-content: space-between;
}
#header .header img {
  position: absolute;
  left: 225px;
  width: 18px;
  height: 18px;
  top: 22px;
}
#header .header--logo {
  margin-right: 450px;
}
#header .header--menus {
  margin-right: 200px;
}
#header .header--menus a {
  color: white;
  margin: 0 20px;
}
#header .header--user {
  color: white;
  display: flex;
  justify-content: space-around;
  width: 100px;
}
#header .header--search-box {
  position: absolute;
  margin: 0 0 15px 0;
  left: 25%;
  top: 19px;
  background: rgba(40, 40, 40, 0.84);
  height: 40px;
  border-radius: 40px;
  padding: 2px 5px;
}
#header .header--search-box:hover .header--search-box__search-txt {
  width: 200px;
}
#header .header .header--search-box input {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0;
}
#header .header .header--search-box a {
  color: white;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

#discover {
  background: black;
}
#discover .discover .discover--texts__star01 {
  position: absolute;
  right: 195px;
  top: 390px;
}
#discover .discover .discover--texts__star02 {
  position: absolute;
  left: 204px;
  top: 155px;
}
#discover .discover .discover--texts__star03 {
  position: absolute;
  right: 394px;
  top: 270px;
}
#discover .discover .discover--texts__star04 {
  position: absolute;
  left: 266px;
  top: 540px;
}
#discover .discover .discover--texts__star05 {
  position: absolute;
  right: 531px;
  top: 120px;
}
#discover .discover .discover--texts__star06 {
  position: absolute;
  left: 450px;
  top: 1250px;
}
#discover .discover h5 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-align: left;
}
#discover .discover--diskText {
  width: 500px;
  display: flex;
  justify-content: flex-start;
}
#discover .discover--disk {
  width: 76px;
  height: 76px;
  background: #FE7E3F;
  border-radius: 50%;
}
#discover .discover--logos {
  display: flex;
  flex-direction: column;
}
#discover .discover--logos img {
  margin: 40px 0;
}
#discover .discover--texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}
#discover h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #EEB563;
  margin: 30px 0;
}
#discover h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 96px;
  line-height: 116px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 100px;
}
#discover .discover--monkeyImg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 250px;
}
#discover .discover--monkeyImg h6 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-align: left;
  margin-top: 120px;
}
#discover .discover--monkeyImg__monkey {
  position: absolute;
}
#discover .discover--monkeyImg__disk {
  width: 76px;
  height: 76px;
  background: #FE7E3F;
  border-radius: 50%;
}
#discover .discover--monkeyImg__roundLine {
  width: 76px;
  height: 76px;
  background: none;
  border-radius: 50%;
  border: solid 2px white;
  position: absolute;
  left: 1200px;
  bottom: -100px;
}
#discover .discover--monkeyImg__anything {
  width: 346px;
  height: 532px;
  margin: 1px 100px 0 0;
}
#discover .discover--monkeyImg__border {
  position: absolute;
  left: 177px;
  top: 880px;
}
#discover .discover--monkeyImg__border2 {
  position: absolute;
  left: 360px;
  top: 1050px;
}
#discover .discover--monkeyImg__allDisk {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 200px 300px 0;
  margin: 0 140px 0 0;
}
#discover .discover--monkeyImg__allDisk img {
  position: absolute;
  left: 345px;
}
#discover .discover--monkeyImg__allDisk h5 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-align: right;
}
#discover .swiper {
  width: 100%;
  height: 90%;
}
#discover .mySwiper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#discover .swiper-button-prev {
  left: 44px;
  width: 111px;
}
#discover .swiper-button-next {
  width: 111px;
  right: 40px;
  left: auto;
}
#discover .swiper-slide {
  border-radius: 25px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
#discover .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#discover #NFTs .NFTs--svg {
  display: flex;
  justify-content: space-between;
  padding: 100px 0 0 0;
}
#discover #NFTs .NFTs--svg2 {
  padding: 70px 0;
  display: flex;
  justify-content: space-between;
}
#discover #NFTs .NFTs--block {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#discover #NFTs .NFTs--block h5 {
  color: white;
}
#discover #NFTs .NFTs--block h6 {
  color: white;
}
#discover #NFTs .NFTs--block img {
  width: 250px;
  padding: 20px 0;
}
#service .service {
  display: flex;
  flex-direction: column;
}
#service .service--btn {
  position: relative;
}
#service .service--btn__A {
  width: 173px;
  height: 58px;
  border: 1px solid #727272;
  border-radius: 39px;
  transform: rotate(-90deg);
  position: absolute;
  top: 190px;
}
#service .service--btn__B {
  clip-path: polygon(100% 0, 70% 53%, 100% 100%, 52% 76%, 0 100%, 34% 53%, 0 0, 50% 30%);
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  margin-top: 40px;
  margin-left: 220px;
  position: absolute;
  top: 90px;
  left: 220px;
}
#service .service--btn__D {
  clip-path: polygon(100% 0, 70% 53%, 100% 100%, 52% 76%, 0 100%, 34% 53%, 0 0, 50% 30%);
  width: 20px;
  height: 20px;
  background: #696969;
  margin-top: 40px;
  margin-left: 220px;
  position: absolute;
  right: 200px;
  top: 240px;
}
#service .service--btn__C {
  width: 32px;
  height: 32px;
  background: transparent;
  border-radius: 50%;
  border: 1px solid #868686;
  position: absolute;
  right: 100px;
  top: 60px;
}
#service .service--btn__btA {
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
  padding: 12px 30px;
  background: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 36px;
  margin: 40px 525px;
  transition: 0.4s;
}
#service .service--btn__btA:hover, #service .service--btn__btA:focus {
  transform: scale(1.2);
  background: #D29C10;
}
#service .service details p {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
#service .service details summary {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}
#service .service details summary p {
  width: 456px;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 20px;
  padding: 20px 0;
}
#service .service details summary span {
  width: 160px;
  font-weight: 500;
  font-size: 32px;
  color: #FFFFFF;
}
#service .service details summary .a1 {
  display: flex;
  align-items: center;
}
#service .service details summary .a1 span {
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
  margin-left: 10px;
}
#service .service--sp {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#service .service--sp span {
  font-weight: 500;
  font-size: 14px;
  color: #D29C10;
  margin: 20px 0;
}
#service .service--text {
  padding: 60px 0;
}
#service .service--text h1 {
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  color: #FFFFFF;
}
#service .service--text__a {
  display: flex;
  justify-content: center;
  align-items: center;
}
#service .service--text__a h2 {
  font-weight: 500;
  font-size: 24px;
  color: #F1B864;
}
#service .service--text__a--q {
  width: 20px;
  height: 20px;
  clip-path: polygon(50% 0%, 61% 35%, 100% 48%, 63% 62%, 49% 100%, 35% 61%, 0 49%, 39% 35%);
  background: #D29C10;
}

#footer .footer {
  display: flex;
  justify-content: space-between;
  margin-top: 180px;
  padding: 40px 0;
}
#footer .footer--logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
}
#footer .footer--logo p {
  width: 285px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
#footer .footer--logo__a {
  display: flex;
}
#footer .footer--logo__a h1 {
  font-weight: 700;
  font-size: 76px;
  color: #FFFFFF;
}
#footer .footer--logo__a h2 {
  font-weight: 700;
  font-size: 58px;
  color: #FFFFFF;
  margin-left: -2px;
  margin-top: 18px;
}
#footer .footer--logo__a--m {
  width: 20px;
  height: 20px;
  clip-path: polygon(50% 0%, 61% 35%, 100% 48%, 63% 62%, 49% 100%, 35% 61%, 0 49%, 39% 35%);
  background: #D29C10;
  margin-top: 20px;
}
#footer .footer--account {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 300px;
}
#footer .footer--account__sp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 380px;
  flex-wrap: wrap;
}
#footer .footer--account__sp span {
  font-weight: 700;
  font-size: 30px;
  color: #FFFFFF;
  padding: 20px 0;
}
#footer .footer--account__ap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 320px;
}
#footer .footer--account__ap--a {
  background: #767676;
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer .footer--account__ap--a__z {
  color: white;
  font-size: 20px;
}
#footer .footer--email {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
}
#footer .footer--email h1 {
  width: 320px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;
}
#footer .footer--email--int {
  position: relative;
}
#footer .footer--email--int__end {
  display: flex;
  width: 110px;
  position: relative;
  margin-top: 20px;
}
#footer .footer--email--int__end--a {
  width: 16px;
  height: 16px;
  clip-path: polygon(50% 0%, 61% 35%, 100% 48%, 63% 62%, 49% 100%, 35% 61%, 0 49%, 39% 35%);
  background: #D29C10;
  position: absolute;
  left: 18px;
}
#footer .footer--email--int__end span {
  font-weight: 300;
  font-size: 16px;
  color: #FFFFFF;
  width: 180px;
}
#footer .footer--email--int input {
  width: 280px;
  height: 50px;
  border: 1px solid #B5B5B5;
  border-radius: 9px;
  background: transparent;
  padding-left: 20px;
  color: white;
  font-size: 16px;
}
#footer .footer--email--int__btn {
  padding: 14px;
  border: none;
  background: #FE773B;
  border-radius: 2px;
  position: absolute;
  right: 18px;
  top: -1px;
}
#footer .footer--email--int__btn--a {
  color: white;
  font-size: 22px;
}

/*# sourceMappingURL=style.css.map */
